/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

$body-bg: #ffffffbf;
$body-color: #000000;
$link-color: #00eeab;
$input-bg: #ffffffbf;
$popover-bg: #ffffff64;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Code', monospace;